.button.proton-design:not(.disabled){
    animation: button-proton-design-hover-out linear 0.1s;
    height: auto;
    width: auto ;
    border: 2px solid var(--PrimaryColor);
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    margin:0px 5px;
    padding: 1px 15px;
    color: var(--PrimaryColor);
}
.button{
    margin: 0 auto;
    padding: 5px;
    line-height: 32px;
    text-align: center;
    color: white;
}
.button.proton-design:hover:not(.disabled){
    animation: button-proton-design-hover-in linear 0.1s;
    background: var(--PrimaryColor);
    cursor: pointer;
     box-shadow: 0px 3px 7px rgba(0,0,0,0.5);
     color:white;
}
.button.proton-design.disabled{
    height: auto;
    width: auto;
    background: #4d4d4d;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    margin:0px 5px;
}


@keyframes button-proton-design-hover-in{
    from {
        background: transparent;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
        
    }
    to{
        background: var(--PrimaryColor);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.0.4);
    }
}
@keyframes button-proton-design-hover-out{
    from {
        background: var(--PrimaryColor);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.0.4);
    }
    to{
        background: transparent;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    }
}