.FloatingButton{
    background-color: var(--PrimaryColor);
    position: fixed;    
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    z-index: 100; 
    color: var(--BackgroundColor);
}
.FloatingButton:active{
    background: var(--LightPrimaryColor);
    cursor: pointer;
    animation: in linear 0.2s;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}
.FloatingButton:hover{
    background: var(--LightPrimaryColor);
    cursor: pointer;
    animation: in linear 0.2s;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

.FloatingButton.pos-top{
    top:5%;
}
.FloatingButton.pos-right{
    right:5%;
}
.FloatingButton.pos-left{
    left:5%;
}
.FloatingButton.pos-bottom{
    bottom: 3%;
}

.FloatingButton.small{
    height: 45px;
    width:45px;
}
.FloatingButton.normal{
    height: 57px;
    width:57px;
}
.FloatingButton.big{
    height: 65px;
    width:65px;
}
