.switch:hover{
    cursor: pointer;
}
.switch.material-design {
    width: 27px;
     height: 14px;
     border-radius: 20px;
     margin:12px;
     position: relative;
}
.switch.material-design > div{
    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative;
    top: -3px;
}

.activated.material-design.switch {
    background: var(--LightPrimaryColor);
}
.activated.material-design.switch > .dot_switch{
    animation: activating-switch-dot linear 0.15s;
    background: var(--PrimaryColor);
    left:12px;
}
.desactivated.material-design.switch {
    background: darkgray;
}

.desactivated.material-design.switch > .dot_switch{
    animation: desactivating-switch-dot linear 0.15s;
    background: gray;
   left:-7px;
}

.disabled.material-design.switch{
    background: lightgray;
    box-sizing: border-box;
}
.disabled.switch.material-design.desactivated > div {
    animation: desactivating-switch-dot  linear 0.15s;
    background-color: gray;
    left:-7px;
    position: relative;
}

@keyframes activating-switch-dot{
    from{
        background: gray;
        left:-5px;
    }
    to{
        background: var(--PrimaryColor);
       left:12px;
    }
}
@keyframes desactivating-switch-dot{
    from{
        background: var(--PrimaryColor);
        left:10px;
    }
    to{
        background: gray;
       left:-7px;
    }
}