.switch.proton-design {
    width: 32px;
     height: 20px;
     border-radius: 20px;
     margin:12px;
     position: relative;
     
}
.switch.proton-design > div{

    height: 10px;
    width: 10px;
    border-radius: 50px;
    position: relative;
    top: 5px;
}

.activated.proton-design.switch {
    border: 1.8px solid var(--PrimaryColor);
    background: var(--BackgroundColor);
}
.activated.proton-design.switch > .dot_switch{
    top: 5px;
    animation: activating-switch-dot-proton-design linear 0.15s;
    background: var(--PrimaryColor);
    left:20px;
    
}
.desactivated.proton-design.switch {
    background: white;
    box-sizing: border-box;
    border: 1.8px solid #4d4d4d;
}

.desactivated.proton-design.switch > .dot_switch{
    animation: desactivating-switch-dot-proton-design  linear 0.15s;
    background: #4d4d4d;
    left:2px;
    position: relative;
    top: 3px; 
}
.disabled.proton-design.switch{
    border: 1.8px solid gray;
    box-sizing: border-box;
}
.disabled.switch.proton-design.desactivated > div {
    animation: desactivating-switch-dot-proton-design  linear 0.15s;
    background-color: gray;
    left:2px;
    position: relative;
    top: 1px; 
}
@keyframes activating-switch-dot-proton-design {
    from{
        left:3px;
    }
    to{
       left:20px;
       
    }
}
@keyframes desactivating-switch-dot-proton-design {
    from{
        left:20px;
    }
    to{
       left:3px;
    }
}