.switch.fluent-design {
    width: 32px;
     height: 14px;
     border-radius: 20px;
     margin:12px;
     position: relative;
     
}
.switch.fluent-design > div{

    height: 8px;
    width: 8px;
    border-radius: 50px;
    position: relative;
    top: 1px;
}

.activated.fluent-design.switch {
    background: var(--PrimaryColor);
}
.activated.fluent-design.switch > .dot_switch{
    top: 3px;
    animation: activating-switch-dot-fluent-design linear 0.15s;
    background: white;
    left:20px;
    
}
.desactivated.fluent-design.switch {
    background: white;
    box-sizing: border-box;
    border: 1.8px solid #4d4d4d;
}

.desactivated.fluent-design.switch > .dot_switch{
    animation: desactivating-switch-dot-fluent-design  linear 0.15s;
    background: #4d4d4d;
   left:2px;
   position: relative;
    top: 1px; 
}
.disabled.fluent-design.switch{
    border: 1.8px solid gray;
    box-sizing: border-box;
}
.disabled.switch.fluent-design.desactivated > div {
    animation: desactivating-switch-dot-fluent-design  linear 0.15s;
    background-color: gray;
    left:2px;
    position: relative;
    top: 1px; 
}
@keyframes activating-switch-dot-fluent-design {
    from{
        left:3px;
    }
    to{
       left:20px;
       
    }
}
@keyframes desactivating-switch-dot-fluent-design {
    from{
        left:20px;
    }
    to{
       left:3px;
    }
}