.Error-Bar{
    visibility: visible;
    height: auto;
    width: auto;
    border: 3px solid #b71c1c;
    background: #ff5252 ;
    box-shadow: 2px 1px 10px rgba(0,0,0,0.5);
    position: fixed;
    border-radius: 10px;
    margin: 10px;
    top:0;
    z-index: 100;   
    padding: 3px;
}
.Error-Bar > p{
    padding:10px;
    color: white;
    font-size: 20px;
}
.Error-Bar.disabled{
    visibility: hidden;
}

/*Top Bar*/
.topbar{
    height:57px;
    width: 100%;
    background: var(--PrimaryColor);
    margin:0px;
    box-shadow: 2px 1px 10px rgba(0,0,0,0.5);
    padding-left: 15px;
    position: fixed;
}
.topbar.top{
    position: fixed;
    z-index: 50; 
    top: 0;  
    width: 0 auto;
}
.topbar.bottom{
    position: fixed;
    z-index: 50; 
    bottom: 0px;  
    width: 0 auto;
}
.topbar > p{
    color:white;
    font-size: 20px;
    margin-top:17px;
}

@media only screen and (max-width: 800px) {
    .topbar > p{
        color:white;
        font-size: 21px;
        margin-top:17px;
    }
}
.topbar.top.godown{
    animation: godown-top linear 0.25s;
    top:0px;
}
.topbar.bottom.godown{
    animation: goup-bottom linear 0.25s;
    bottom:-100px;
}
.topbar.top.goup{
    animation: goup-top linear 0.25s;
    top:-100px;
}
.topbar.bottom.goup{
    animation: godown-bottom linear 0.25s;
    bottom:0px;
}

@keyframes goup-top{
    from{top:0px;}
    to{top:-100px;}
}
@keyframes godown-top{
    from{top:-100px;}
    to{top:0;}
}
@keyframes goup-bottom{
    from{bottom:0px;}
    to{bottom:-100px;}
}
@keyframes godown-bottom{
    from{bottom:-100px;}
    to{bottom:0px;}
}