
.card.material-design{
   background: var(--BasicColor);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: auto;
    
}
.card.fluent-design{
    background: var(--BasicColor);
    box-shadow: 0px 1px 12px rgba(0,0,0,0.2);
    border-radius: 0px;
    margin-bottom: 10px;
    overflow: auto;
}
.card.proton-design{
    background: var(--BasicColor);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    
    margin-bottom: 10px;
    overflow: auto;
}
.card.material-design-outlined{
    background: var(--BasicColor);
    border-radius: 7px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    overflow: auto;
}
.card.transparent{
    background: transparent;
    border-radius: 0px;
    padding: 1px 0px;
    overflow: auto; 
}
  
    



