
:root{
    --PrimaryColor: #2962ff;
    --LightPrimaryColor:  #75a7ff;
    --SecondaryColor:  #75a7ff;
    --BasicColor: white;
    --BackgroundColor: white;
    --RippleEffect: white;
}
body{
     margin:0; 
     background: var(--BackgroundColor);
}   
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
   font-family: 'Montserrat', sans-serif;
    outline: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}


button {
    overflow: hidden;
    position: relative;

  }
button .ripple {
     border-radius: 100%;
      background-color: var(--RippleEffect);
       position: absolute;
       transform: scale(0);
       animation: ripple 0.55s linear;
     }
     @keyframes ripple { to {  transform: scale(4); opacity: 0; } }


     














